/*Card*/
.card-login {
  width: 90%;
  max-width: 380px;
  margin: 45px auto;
  padding: 28px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
}

/*Title*/
.card-login h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 600;
  color: #333;
}

/*Inputs*/
ion-item {
  --background: transparent;
  --border-radius: 10px;
  margin-bottom: 14px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

/*Button*/
.btn-login {
  margin-top: 18px;
  padding: 12px;
  border-radius: 14px;
  background: #4c8dff;
  color: white;
  font-size: 16px;
}

/*Register link*/
.text-small {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.text-small a {
  color: #4c8dff;
  text-decoration: none;
}
