<ion-content>
  <div class="card-register">
    <h2>Create Account</h2>

    <ion-item>
      <ion-input label="Name" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" type="email" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password" type="password" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-register">Register</ion-button>

    <p class="text-small">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</ion-content>
