.home-container {
  margin: 40px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #4c8dff;
}

h1 span {
  color: #333;
}

.subtitle {
  font-size: 16px;
  margin: 12px 0 25px;
  color: #666;
}

ion-button {
  font-size: 16px;
  border-radius: 14px;
}
